{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appgallery/css/gallery.css') }}" />
{% endblock %}

{% block body %}
    <div id="content-wrapper">
        <div class="back-link"><a href="/"><<< Back to albums</a></div>
        <div class="pagination"></div>
        <div class="clear"></div>
        <ul class="gallery"></ul>
    </div>

    <div id="preview-image-overlay"></div>
    <div id="preview-image"><img src="/upload/gallery/1.jpg"/></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script src="{{ asset('bundles/appgallery/js/bower_components/underscore/underscore.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/bower_components/backbone/backbone.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/bower_components/backbone.paginator/lib/backbone.paginator.js') }}"></script>

    <script src="{{ asset('bundles/appgallery/js/models/image.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/models/album.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/collections/imageCollection.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/collections/albumCollection.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/views/imageView.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/views/albumView.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/routers/appRouter.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/views/AppGalleryView.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/controllers/galleryController.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/galleryApplication.js') }}"></script>
    <script src="{{ asset('bundles/appgallery/js/main.js') }}"></script>

    <script id="template-album" type="text/template">
        <h2><%= name %></h2><p><%= description %></p>
    </script>

    <script id="template-image" type="text/template">
        <div class="image-block"><img src="<%= src %>"></div><p><%= description %></p>
    </script>

    <script id="template-pagination" type="text/template">
        <% if (totalPages > 1){ %>
        <ul>
            <% if (currentPage > 3 && totalPages > 6) { %>
                <li><a href="<%= link %>1">1</a></li>
                <li class="disabled">...</li>
            <% } %>

            <% for (var i = Math.max(currentPage - 2, 1); i <= Math.min(currentPage + 2, totalPages); i++) { %>
                <li>
                    <a href="<%= link %><%= i %>" <% if (currentPage == i) print('class="active"') %> ><%= i %></a>
                </li>
            <% } %>

            <% if (currentPage <= (totalPages - 3) && totalPages > 6) { %>
                <li class="disabled">...</li>
                <li><a href="<%= link %><%= totalPages %>"><%= totalPages %></a></li>
            <% } %>
        </ul>
        <% } %>
    </script>
{% endblock %}